# Data Wrabling

**Import library's**

In [2]:
import pandas as pd
import numpy as np
from datetime import datetime

**Load dataset and Make the date-time as an index**

In [4]:
def parse(x):
    return datetime.strptime(x, "%Y %m %d %H")

dataset = pd.read_csv("pollution.csv", parse_dates=[["year", "month", "day",
                                                  "hour"]], index_col=0, date_parser=parse)

In [5]:
dataset.head(5)

                     No  pm2.5  DEWP  TEMP    PRES cbwd    Iws  Is  Ir
year_month_day_hour
2010-01-01 00:00:00   1    NaN   -21 -11.0  1021.0   NW   1.79   0   0
2010-01-01 01:00:00   2    NaN   -21 -12.0  1020.0   NW   4.92   0   0
2010-01-01 02:00:00   3    NaN   -21 -11.0  1019.0   NW   6.71   0   0
2010-01-01 03:00:00   4    NaN   -21 -14.0  1019.0   NW   9.84   0   0
2010-01-01 04:00:00   5    NaN   -20 -12.0  1018.0   NW  12.97   0   0

**Drop the No columns**

In [6]:
dataset.drop("No", axis=1, inplace=True)
dataset.head(5)

                     pm2.5  DEWP  TEMP    PRES cbwd    Iws  Is  Ir
year_month_day_hour
2010-01-01 00:00:00    NaN   -21 -11.0  1021.0   NW   1.79   0   0
2010-01-01 01:00:00    NaN   -21 -12.0  1020.0   NW   4.92   0   0
2010-01-01 02:00:00    NaN   -21 -11.0  1019.0   NW   6.71   0   0
2010-01-01 03:00:00    NaN   -21 -14.0  1019.0   NW   9.84   0   0
2010-01-01 04:00:00    NaN   -20 -12.0  1018.0   NW  12.97   0   0